/*--------------------------General Styling----------------------------*/
:root {
  --color-1: rgb(255,212,202);
  --color-2: rgb(4, 8, 8);
  --color-3: rgb(15, 23, 23);
  --color-4: rgb(55, 55, 55);
  --color-5: rgb(249, 249, 249);
  --color-6: rgb(232, 232, 232);
  --color-7: rgb(209, 209, 209);
  --color-8: rgb(198, 198, 198);

  --nav-font: 'Playwrite US Trad';
  --base-font: 'Open Sans';
}

html {
  scroll-behavior: smooth;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-2);
}

p {
  color: var(--color-3);
}

body {
  font-family: var(--base-font);
}

.home-section {
  width: 100%;
  height: 100vh;
  background-color: var(--color-8);
}

/*----------------------End General Styling--------------------*/






/*------------------------Header Styling------------------*/

.header {
  font-family: var(--nav-font);
  border-bottom: 2px solid black;
}

.bc-logo {
  width: 60px;
  vertical-align: top;
  display: inline-block;
}


.main-menu {
  display: inline-block;
  color: var(--color-2);
}

.main-menu a {
  text-decoration: none;
  color: var(--color-2);
}


.main-menu li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  height: 30px;
  width: 90px;
  text-align: center;
  align-content: center;
  font-size: 12px;

  border-bottom: 0px solid transparent ;
  

  transition: 1s;
}


.main-menu li:hover {
  border-bottom: 1px solid black;
}
/*----------------------------End Header Styling---------------------------------*/





.titulli-kryesore {
  padding-top: 10px;
  padding-bottom: 10px;
}



.add-to-cart-btn {
  background-color: black;
  color: white;
  height: 39px;
  width: 115px;
  border-radius: 20px;
  cursor: pointer;
}


.main-img {
  width: 300px;
  display: block;
}

.email-input {
  display: block;
}

.contact-form {
  background-color: rgb(0, 0, 0);
}

.name-input, .surname-input, .email-input {
  width: 150px;
  height: 25px;
  font-size: 15px;
}